<template name="game">
  <h3>{{name}}</h3>
  <p>{{currentPlayer.name}}, it's your turn!</p>


  {{#if gameOver}}
    <h4>GAME OVER. {{winningPlayer.name}} wins.</h4>
  {{else}}
    <form class="attack">
      <select name="attackFrom">
        {{#each launchTerritories}}
          {{> territoryOption}}
        {{/each}}
      </select>

      <select name="target">
        {{#each targets}}
          {{> territoryOption}}
        {{/each}}
      </select>
      <input type="submit" value="Attack!">
    </form>

    <form class="end-turn">
      <input type="submit" value="End Turn">
    </form>

    <form class="end-game">
      <input type="submit" value="End Game">
    </form>
  {{/if}}

  <ul>
    {{#each territories}}
      {{> territory}}
    {{/each}}
  </ul>

  <ul>
    {{#each occupations}}
      {{> occupation}}
    {{/each}}
  </ul>

  {{> map}}
</template>

<template name="territoryOption">
  <option value="{{_id}}">{{name}}</option>
</template>
